html, body {
  text-align: center;
  font-family: 'Seaweed Script', cursive;
  font-size: xx-large;
}
h1 {
  text-align: center;
  font-family: 'Seaweed Script', cursive;
  font-size: xx-large;
}

a {
    color: #000;
    margin: 0.2em;
    text-decoration: none;
}

#hangm_gameover, #hangm_victory {
    font-size: 2em;
}

section#hangman {
    height: 30.5em;
    overflow: hidden;
}

#hangm {
    text-align: center;
}

.h {
    opacity: 0;
}

#hangm_animation {
    height: 15em;
    margin: 0 auto;
    width: 50%;
}

#hangm_word,
#hangm_guesses {
    letter-spacing: 1em;
}

input {
  line-height: 3;
  width:100;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 49%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #FFF;
	}
	.pole_h, .pole_v, .pole_b {
		background: #FFF;
	} */
